<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartydroid.android.kit.demo"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

  <application
      android:name=".DemoApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity android:name=".ui.activity.KeysActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.activity.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.Close">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.smartydroid.android.kit.demo.ui.activity.KeysActivity"/>
    </activity>
  </application>

</manifest>
